<html>
    <head>
        <title>Neil Howell's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Neil Howell's Blog</a></h1>
        </div>

        <div>
            <p>published: 2/6/2016, 9:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi there!  I'm learning webpage design with Python and this is my first post on my first webpage!</p>
        </div>

        <div>
            <p>published: 2/6/2016, 9:15</p>
            <h2><a href="">My second post</a></h2>
            <p>Here's a second post to take up a little space and demonstrate divs within an html document.</p>
        </div>
    </body>
</html>
